div,p,ul,ol,li,h1,h2,h3,h4,h5
{
    margin:0;
    padding:0;
}
.main
{
    height:300px;
}
.content
{
  width:400px;
  height:200px;
  background-color:#ccc;
  margin:0 auto;
  margin-top:200px;
  position: relative;
}
.common
{
width:50px;
    height:50px;
    background-color:#fc0;
    position: absolute;
}
.one
{
    
    border-radius: 0 0 100% 0;
    top:0;
    left:0;
}
.two
{
  border-radius: 100% 0 0 0;
  bottom:0;
  right:0;
}